@import url(reset.css);
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');


/* Styles for general elements */
* {
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;

}

:root {
    --textGold: #dd9219;
    --textBlueBold: #0160A3;
    --backgroundBlue: #31A2BC;
    --whiteGeneral: white;
}

.containFooter {
    font-family: 'Lato', sans-serif;
    padding: 20px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, hsl(205.28deg 95.21% 32.75%), hsl(190.22deg 100% 35.69%));
    text-align: center;
}

.logoFooter {
    height: 10rem;
    width: auto;
    margin: 40px 0 20px;
}

.footerIconRedes {
    color: var(--whiteGeneral);
    font-size: 30px;
    padding: 0 10px;
}

.containerFatherInfo {
    margin: 20px 0;
}


.containInfoEmail,
.containInfoLocation,
.containInfoPhone {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}

.mailto-link,
.tel-link {
    text-decoration: none;
}

.bi-envelope,
.bi-geo-alt-fill,
.bi-telephone-fill {
    color: var(--whiteGeneral);
    font-size: 25px;
}

.textEmail,
.textLocation,
.textPhone {
    color: var(--whiteGeneral);
    padding-left: 15px;
    font-size: 18px;
    font-weight: 300;
}

.copyRight {
    padding: 10px;
    color: var(--whiteGeneral);
    font-size: 10px;
}

@media screen and (min-width: 768px) {
    .containFatherFooter{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .containFooter {
        padding: 40px 0;
    }

    .logoFooter {
        margin: 0;
    }

    .footerIconRedes {
        padding: 2px;
    }

    .containerFatherInfo {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
    }

    .copyRight {
        width: 103px;
        color: var(--whiteGeneral);
        font-size: 10px;
        text-align: center;
        font-weight: 300;
    }

}

@media screen and (min-width: 1024px) {
    .containFatherFooter {
        width: 100%;
        flex-direction: row;
        justify-content: space-around;
        max-width: 1900px;
    }

    .containFooter {
        width: 100%;
        flex-direction: row;
        justify-content: space-around;
    }

    .containSocial {
        width: 300px;
        display: flex;
        justify-content: space-around;
    }

    .footerIconRedes {
        font-size: 45px;
    }

}
@media screen and (min-width: 1900px){
    .containFatherFooter{
        justify-content: space-between;
    }
}
